<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="100001" android:versionName="1.00.001_VER_2014.01.09_15:57:07" package="com.marvell.fmradio"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application android:theme="@*android:style/Theme.DeviceDefault.Light" android:label="@string/app_name" android:icon="@drawable/ic_launcher_icon" android:debuggable="false">
        <uses-library android:name="com.marvell.fmmanager" />
        <activity android:label="@string/app_name" android:name=".MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:name=".ListTestdeleteableActivity" android:screenOrientation="portrait" />
        <activity android:name=".MultipleListTestActivity" android:screenOrientation="portrait" />
        <service android:name=".FMService" android:exported="true" />
        <activity-alias android:label="@string/app_name" android:name="com.broadcom.bt.app.fm.rx.FmRadio" android:exported="true" android:screenOrientation="portrait" android:targetActivity="com.marvell.fmradio.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
</manifest>
